html 
    head 
        title "nyaa auto uploader"
        link(rel="stylesheet", href="/css/basic.css")
    body 
        form
            select#series
            select#season
            input(type="text", id="nyaa_query" placeholder="nyaa query" required)
            input(type="text", id="tmdb_id" placeholder="tmdb id" required)
            input(type="text", id="anissia_id" placeholder="anissia_id" required)
            input(type="text", id="end_date" placeholder="2024-03-28" required)
            button submit
           
script(src="/js/auto.js") 