html 
    body 
        ul 
            li 
                a(href="/create-series") create series
            li 
                a(href="/create-season") create season
            li 
                a(href="/auto-episode") add auto list