html 
    head 
        title "nyaa auto uploader"
        link(rel="stylesheet", href="/css/basic.css")
    body 
        form
            select
            input(type="text" id="name" placeholder="season name")
            input(type="text" id="number" placeholder="season number")
            button submit
           
script(src="/js/season.js") 